<h2>{{ hero_1.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero_1.id}}</div>
<div><span>name: </span>{{hero_1.name}}</div>

<h2>{{ hero_2.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero_2.id}}</div>
<div><span>name: </span>{{hero_2.name}}</div>

<div>
  <label>name:
    <input [(ngModel)]="hero_1.name" placeholder="put something here">
  </label>
</div>

<div>
<h2>My Heroes</h2>

<!--
<ul class="heroes">
  <li *ngFor="let hero of heros" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
-->

<ul class="heroes">
    <li *ngFor="let hero of heros">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
  </ul>

  <div>
    <label exStyle="true">Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>